{% extends '@OswisOrgOswisCore/e-mail/pages/message.html.twig' %}

{% block html_title %}{{ email.subject|default('Přehled přihlášek') }}{% endblock %}
{% block meta_description %}{{ block('html_title') }}{% endblock %}

{% block content_inner %}
    {% if message|default %}
        <div style="color: red;font-weight: bold;padding: 1em; background-color: lightcoral;border: 2px solid red;">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    {% include '@OswisOrgOswisCalendar/other/participant-list/participant-list.html.twig' %}
{% endblock %}

