<header>
    <h2 class="text-uppercase mb-2">Nový účastník</h2>

    {% include '@OswisOrgOswisCalendar/web/parts/event-participant-registration-range-preview.html.twig' with {'event': form.vars.value.event, 'range': range} %}

    {% if form.vars.value.event is defined and form.vars.value.event and form.vars.value.event.subEvents|length > 0 %}
        <div class="mt-2 mb-2">
            <p><strong>Jsou dostupné také dílčí akce:</strong></p>
            {% include '@OswisOrgOswisCalendar/web/parts/event-sub-events-list.html.twig' with {'subEvents': form.vars.value.event.subEvents} %}
        </div>
    {% endif %}
</header>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
