<div class="row">
    <div class="col-lg-12">
        {% if type == 'success' %}
            {% include '@OswisOrgOswisCalendar/web/parts/event-participant-registration-sent.html.twig' %}
        {% elseif registrationsActive == false %}
            {% include '@OswisOrgOswisCalendar/web/parts/event-participant-registration-comming-soon.html.twig' %}
        {% elseif type == 'form' and registrationsActive == true %}
            {% include '@OswisOrgOswisCalendar/web/parts/event-participant-registration-form.html.twig' %}
        {% else %}
            {% include '@OswisOrgOswisCalendar/web/parts/event-participant-registration-error.html.twig' %}
        {% endif %}
    </div>
</div>

{% block structured_data %}
{% endblock structured_data %}