<!-- START: PARTNERS -->
<!-- Partners count: {{ footerPartners is defined ? footerPartners|length : 'null' }} -->
{% if footerPartners is defined and footerPartners|length > 3 %}
    <div id="main-logos" class="container-fluid bg-white-tra60 pt-4 pb-5">
        <div class="row">
            <div class="col-12 ps-0 pe-0">
                <div id="main-logos-horizontal-swiper" class="swiper-container horizontal-logos">
                    <div class="swiper-wrapper">
                        {% for partner in footerPartners %}
                            {% include '@OswisOrgOswisCalendar/web/parts/partners-footer-partner.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- END: PARTNERS -->
