<header>
    <h2 class="text-uppercase" id="registration-success">Přihláška odeslána!</h2>
    <h3>Nyní čeká na ověření.</h3>
</header>
<p>
    Registrace byla úspěšně zaznamenána, teď je ovšem ještě <strong>nutné ji potvrdit pomocí odkazu</strong>,
    který jsme zaslali do zadané e-mailové schránky.
</p>
