<header>
    <h2 class="text-uppercase">Nový účastník</h2>
    <p>
        <small>Pro změnu již odeslané přihlášky nás kontaktujte e-mailem nebo telefonicky.</small>
    </p>
</header>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
