<header>
    <h2 class="text-uppercase">Přihlášky aktuálně nejsou spuštěny</h2>
</header>
<p>
    Přihlášky aktuálně není možně pomocí webových stránek odesílat.
    Zkuste se vrátit za pár dní.
</p>
