{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% block body_content %}
    <main class="container" id="main-content-container">
        {% for eventRanges in events %}
            {% if eventRanges.ranges|length > 0 %}
                <div class="row">
                    <div class="col-12">
                        <h3>{{ eventRanges.event.name }}</h3>
                    </div>
                </div>
                {% for range in eventRanges.ranges %}
                    {% include '@OswisOrgOswisCalendar/web/parts/event-participant-registration-range-preview.html.twig' with {'event': eventRanges.event} %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </main>
{% endblock %}

