{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% block body_content %}
    <main class="container" id="main-content-container">
        {% if range|default == 'year' %}
            {# Show calendar for year. #}
        {% elseif range|default == 'month' %}
            {# Show calendar for month. #}
        {% elseif range|default == 'week' %}
            {# Show calendar for week. #}
        {% else %}
            {% for event in events %}
                {% include '@OswisOrgOswisCalendar/web/parts/event-preview.html.twig' %}
            {% else %}
                Nebyly nalezeny žádné akce k zobrazení.
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}
