{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% block body_content %}
    <main class="container" id="main-content-container">
        {% include '@OswisOrgOswisCalendar/web/parts/event.html.twig' %}
    </main>
{% endblock %}
