{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% block body_content %}
    <main class="container" id="main-content-container" itemscope itemtype="http://schema.org/Event">
        {% include '@OswisOrgOswisCalendar/web/parts/event.html.twig' %}
    </main>
{% endblock %}

{% set breadcumb_index = 2 %}
{% block breadcrumb_loop %}
    {% for b in breadcrumbs|default %}
        {% include '@OswisOrgOswisCore/web/parts/breadcrumb-item.html.twig'
            with {'b_url': b.url, 'b_title': b.title~'XXX', 'b_position': breadcrumb_index} %}
        {% set breadcumb_index = breadcumb_index + 1 %}
    {% endfor %}
    {% if event.superEvent is defined and event.superEvent %}
        {% include '@OswisOrgOswisCalendar/web/parts/breadcrumb-event-parent.html.twig' with {'event': event.superEvent} %}
    {% endif %}
{% endblock breadcrumb_loop %}
{% block breadcrumb_last %}
    {% include '@OswisOrgOswisCore/web/parts/breadcrumb-item.html.twig'
        with {
        'b_url': path('oswis_org_oswis_calendar_web_event', {'eventSlug':event.slug}),
        'b_title': event.shortName~'ZZZ',
        'b_position': breadcrumb_index,
        'b_active': true
    } %}
{% endblock breadcrumb_last %}
