{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-group small {
            display: block;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
    </style>
{% endblock stylesheets %}

{% block body_content %}
    <main class="container" id="main-content-container">
        {% include '@OswisOrgOswisCalendar/web/parts/participant-registration.html.twig' %}
    </main>
{% endblock %}

{% block body_breadcrumbs %}
    {% if event is defined and event %}
        {% include '@OswisOrgOswisCalendar/web/parts/event-subpages-breadcrumbs.html.twig' %}
    {% elseif form.vars.value.event|default %}
        {% include '@OswisOrgOswisCalendar/web/parts/event-subpages-breadcrumbs.html.twig' with {'event': form.vars.value.event} %}
    {% elseif events|length == 1 %}
        {% include '@OswisOrgOswisCalendar/web/parts/event-subpages-breadcrumbs.html.twig' with {'event': events|first} %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock body_breadcrumbs %}
