{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% block body_content %}
    <main class="container" id="main-content-container">
        <div class="row">
            <div class="col-12">
                <header class="text-uppercase">
                    <h2>
                        <span class="d-block d-md-none">{{ shortTitle|default(title|default) }}</span>
                        <span class="d-none d-md-block">{{ title|default(shortTitle|default) }}</span>
                    </h2>
                </header>
            </div>
        </div>
        <div class="row">
            {% for range in ranges|sort((a, b) => a.priority >= b.priority) %}
                {% include '@OswisOrgOswisCalendar/web/parts/participant-registration-range-preview.html.twig' %}
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block body_breadcrumbs %}
    {% if event|default %}
        {% include '@OswisOrgOswisCalendar/web/parts/event-subpages-breadcrumbs.html.twig' %}
    {% elseif events|default and events|length == 1 %}
        {% include '@OswisOrgOswisCalendar/web/parts/event-subpages-breadcrumbs.html.twig' with {'event': events|first} %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock body_breadcrumbs %}

