<thead>
<tr>
    <th style="max-width: 25%;">
        ID
        <span class="block small">Vytvořeno</span>
    </th>
    <th>
        Účastník, Událost
        <span class="block small">Poznámky</span>
    </th>
    <th style="max-width:25%;">
        Příznaky
    </th>
    <th style="max-width:25%;">
        Zaplaceno
        <span class="block small">Cena</span>
    </th>
</tr>
</thead>

