<thead>
<tr>
    <th style="min-width:20%; max-width: 25%;">
        ID
        <span class="block small">Vytvořeno</span>
    </th>
    <th style="min-width:25%;">
        Účastník, Událost
        <span class="block small">Poznámky</span>
    </th>
    <th style="min-width:18%; max-width:25%;">
        Příznaky
    </th>
    <th style="min-width: 15%; max-width:25%;">
        Zaplaceno
        <span class="block small">Cena</span>
    </th>
</tr>
</thead>

