<thead>
<tr>
    <th style="min-width:20%; max-width: 25%;">
        ID<br>Vytvořeno<br>Potvrzeno
    </th>
    <th style="min-width:25%;">
        Účastník<br>Událost
        <span class="block small">Rozsah</span>
        <span class="block small">Poznámky</span>
    </th>
    <th style="min-width:18%; max-width:25%;">
        Příznaky přihlášky
    </th>
    <th style="min-width: 15%; max-width:25%;">
        Zaplaceno<br>Cena<br><small>Zbývá</small>
    </th>
</tr>
</thead>

