<thead>
<tr>
    <th style="width: 18%;">
        ID
        <span class="block small">Vytvořeno</span>
    </th>
    <th style="width: 44%;">
        Účastník, Událost
        <span class="block small">Poznámky</span>
    </th>
    <th style="width: 13%;">
        Příznaky
    </th>
    <th style="width: 16%;">
        Zaplaceno
        <span class="block small">Cena</span>
    </th>
    <th style="width: 9%;">
        Akce
    </th>
</tr>
</thead>
