<!--suppress ALL -->
{% if depositQr|default or restQr|default %}
    <container style="border: 3px solid #006FAD;">
        <row class="no-gutter">
            <columns small="12">
                <h3 class="black text-center no-gutter">QR&nbsp;PLATBA</h3>
            </columns>
        </row>
        <row class="no-gutter">
            <columns small="1" large="1"></columns>
            <columns small="10" large="4">
                <h4 class="text-center no-gutter">Záloha</h4>
                <center>
                    <img src='{{ depositQr|default }}' alt='Záloha - QR Platba' title='Záloha - QR Platba'>
                </center>
                {% if participant.depositValue|default %}
                    <h5 class="text-center small dark-gray no-gutter">{{ participant.depositValue }},-&nbsp;Kč</h5>
                {% endif %}
            </columns>
            <columns small="0" large="2"></columns>
            <columns small="12" large="4">
                <h4 class="text-center no-gutter">Doplatek</h4>
                <center>
                    <img src='{{ restQr|default }}' alt='Doplatek - QR Platba' title='Doplatek - QR Platba'>
                </center>
                {% if participant.priceRest|default %}
                    <h5 class="text-center small dark-gray no-gutter">{{ participant.priceRest }},-&nbsp;Kč</h5>
                {% endif %}
            </columns>
            <columns small="1" large="1"></columns>
        </row>
        <row class="no-gutter">
            <columns small="12">
                <p class="text-center small dark-gray no-gutter">
                    Pro zaslání zálohy i&nbsp;doplatku můžeš použít
                    <b><a href='http://qr-platba.cz/pro-uzivatele/' title='Co je QR platba?' target='_blank'>QR&nbsp;platbu</a></b>.
                    <br>Naskenuj kód do&nbsp;aplikace tvé&nbsp;banky a&nbsp;všechny údaje se ti předvyplní.
                </p>
            </columns>
        </row>
    </container>
{% endif %}
