{% extends '@OswisOrgOswisCore/web_admin/page-skeleton-web-admin.html.twig' %}

{% set contact = participant is defined ? participant.contact : null %}
{% set f = f is defined ? f : (participant.formal is defined ? participant.formal : true) %}
{% set a = a is defined ? a : (contact.czechSuffixA is defined ? contact.czechSuffixA : '') %}
{% set salName = salutationName|default(contact.salutationName|default) %}

{% block body_content %}
    <div class="container">
        <div class="row">
            <a class="col-6" href="{{ path('oswis_org_oswis_calendar_web_admin_participant_arrival', ['arrival' => true]) }}">
            </a>
            <a class="col-6">
            </a>
        </div>
        <div class="row">
            <div class="col-12">
                {% include '@OswisOrgOswisCalendar/other/summary/participant-summary.html.twig' %}
            </div>
        </div>
    </div>
{% endblock body_content %}
