{% extends '@OswisOrgOswisCore/web_admin/page-skeleton-web-admin.html.twig' %}

{% block body_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Srovnání ročníků</h2>
                <h3>
                    <small>
                        {% for event in events %}
                            {% include '@OswisOrgOswisCalendar/web_admin/event-details-table.html.twig' %}
                        {% endfor %}
                    </small>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="container">
                    <div class="row">
                        <div class="col-12">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_content %}
