<!--suppress HtmlUnknownAttribute -->
<h3 color='#006FAD' style='color:#006FAD;font-size:1.4em;font-weight:bold;margin-top:0.7em;'>
    Shrnutí {{ f ? 'Vaší' : 'Tvé' }} přihlášky
</h3>
<ul>
    {% include '@ZakjakubOswisCalendar/other/summary/event-participant-summary-inner.html.twig' %}
</ul>
