{% extends '@ZakjakubOswisCore/e-mail/message.html.twig' %}

{% block html_title %}{{ email.subject|default('Přehled přihlášek') }}{% endblock %}
{% block meta_description %}{{ block('html_title') }}{% endblock %}

{% block content_inner %}
    {% if data.message is defined and data.message %}
        <div style="color: red;font-weight: bold;padding: 1em; background-color: lightcoral;border: 2px solid red;">
            <p>{{ data.message }}</p>
        </div>
    {% endif %}
    {% include '@ZakjakubOswisCalendar/other/event-participant-list/event-participant-list.html.twig' %}
{% endblock %}

